header{
    margin-left: 50px;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
}

.inicio {
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
}

body{
    margin: auto;
width: 60%;
border: 5px solid #FFFF00;
padding: 10px;
}